# Nextjs
NODE_ENV=

# Supabase
NEXT_PUBLIC_SUPABASE_DB_PASSWORD=
NEXT_PUBLIC_SUPABASE_PROJECT_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_SERVICE_KEY=
NEXT_PUBLIC_SUPABASE_JWT_SECRET=

# Twilio SendGrid
NEXT_PUBLIC_SENDGRID_API_KEY=

# Redis
NEXT_PUBLIC_REDIS_HOST=
NEXT_PUBLIC_REDIS_PORT=
NEXT_PUBLIC_REDIS_PASSWORD=

# Influx DB
NEXT_PUBLIC_INFLUX_URL=
NEXT_PUBLIC_INFLUX_TOKEN=
NEXT_PUBLIC_INFLUX_ORG=

# Pusher
NEXT_PUBLIC_PUSHER_APP_ID=
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_SECRET=
NEXT_PUBLIC_PUSHER_CLUSTER=

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=